
<!--Contenedor principal de la página-->
<div class="navbar-fixed ">
  <nav class="header">
    <div class="nav-wrapper">
      <div class="container">
        <div class="row">
          <!--Caja que contiene el título de la página-->
          <div class="col s12 m6">
            <a href="#!" class="brand-logo logoLink">{{title}}</a>
          </div>

          <!--Caja que contiene la navegación para dispositivos grandes-->
          <div class="navbar" [align]="'right'">
          
                <ul class=" link hide-on-med-and-down " *ngIf="!identity">
                  <li><a [routerLink]="['/signup']">Regístrate</a></li>
                  <li><a [routerLink]="['/signin']">Ingresar</a></li>
                
                </ul>
           
          </div>

          <!--Botón tipo dropdown para cuando el tamaño de la pantalla es de moviles-->
          <div class="s2 m6 hide-on-med-and-up btn-box" [align]="'right'">
            <a class="btn btn-large btn-flat boton " mz-button id="btn-dropdown-demo" href="#" *ngIf="!identity">
                <i mz-icon [align]="'right'" [align]="'right'"  [icon]="'apps'" [size]="'30px'"></i>
            </a>
              <mz-dropdown [id]="'dropdown-demo'"  [belowOrigin]="false" [constrainWidth]="true" [dropdownButtonId]="'btn-dropdown-demo'"
              [gutter]="true" [hover]="true" [inDuration]="300" [outDuration]="300" [stopPropagation]="true">
              <mz-dropdown-item><a [routerLink]="['/signup']">Regístrate</a></mz-dropdown-item>
              <mz-dropdown-divider></mz-dropdown-divider>
              <mz-dropdown-item><a [routerLink]="['/signin']">Ingresar</a></mz-dropdown-item>
            </mz-dropdown>
          
          </div>

<!--Botón tipo dropdown que se mostrará cuando el usuario tenga una sesión-->

          <div class=" boton-box" [align]="'right'">
            <a class="btn btn-large btn-flat boton " mz-button id="btn-dropdown-user" href="#" *ngIf="identity">
              {{identity.username}}<i class="material-icons right">arrow_drop_down</i>

            </a>
            <mz-dropdown [id]="'dropdown-user'" [belowOrigin]="false" [constrainWidth]="true" [dropdownButtonId]="'btn-dropdown-user'"
              [gutter]="true" [hover]="true" [inDuration]="300" [outDuration]="300" [stopPropagation]="true">
              <mz-dropdown-item><a [routerLink]="['/home']">Inicio</a></mz-dropdown-item>
              <mz-dropdown-item><a [routerLink]="['/mydata']">Mi Info</a></mz-dropdown-item>             
              <mz-dropdown-item><a [routerLink]="['/statistics']">Estadística</a></mz-dropdown-item>
              <mz-dropdown-item><a href="#">Salir</a></mz-dropdown-item>
            </mz-dropdown>
          
          </div>

        </div>
      </div>
    </div>
      
  </nav>
    
  </div>


<section id="main-container">
 <!--Utilizando la directiva Router-outlet podremos cargar cualquier componente de la aplicación-->
 <router-outlet></router-outlet>
   
</section>
<!--Pie de página de la aplicación-->
<footer class="site-footer">
  <div class="container">
    <div class="row">
      <div class=" col l6 offset-l3">
        <span class=" fa fa-copyright"></span> copyright - AgroSoft - 2018
      </div>
    </div>
  </div>
</footer>