
<div class="container">
  <div class="row">
    <div class="col s10 push-s1">
      <!--Caja para la imagen o logotipo-->
      <div class="row">
        <div class="col m5 hide-on-small-only">
          Eneste espacio va la imagen o logo
        </div>
        <!--Caja para el formulario de regístro-->

        <div class="col s12 m7">
          <div class="row">
            <div class="signup-box">
              <h1 class="title">{{title}}</h1>
              <form action="">
                <h2 class="description">Descripción breve de la aplicación</h2>
                <div class="divider"></div>
                <!--Seccion para los campos del formulario-->
                <div class="section">
                  <input type="text" name="name" placeholder="Nombre">
                  <input type="text" surname="surname" placeholder="Apellido">
                  <input type="text" surname="nick" placeholder="Nombre de Usuario">
                  <input type="email" surname="email" placeholder="CorreoElectrónico">
                  <input type="password" surname="password" placeholder="Contraseña">

                  <button type="submit" class="btn btn-waves-effect waves-light btn-signup">Regístrate</button>
                </div>
              </form>
            </div>
            <!--Caja para para la pregunta de si tienes una cuenta-->
            <div class="row">
              <div class="login-box">
                ¿Tienes Una cuenta?<a href="#">Ingresar</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

