
<div class="container landing">
  <div class="row">
    <div class="col s10 push-s1 ">
      <!--Caja para la imagen o logotipo-->
      <div class="row">
        <div class="col m5 hide-on-small-only img-box">
          <img src="../../../assets/public/logo.png" class=" logo" alt="Image">
   
        </div>
        <!--Caja para el formulario de regístro-->

        <div class="col s12 m7">
          <div class="row">
            <div class="signup-box">
              <h1 class="title">{{title}}</h1>
              <form class="signup-form">
                <h2 class="description">
                  Regístrate para que puedas monitorear fechas, estado de suelo
                  y de esta forma tomar mejores desiciones en los proceso de tus cultivos.
                </h2>
                <div class="divider"></div>
                <!--Seccion para los campos del formulario-->
                <div class="section">
                  <input type="text" name="name" placeholder="Nombre">
                  <input type="text" surname="surname" placeholder="Apellido">
                  <input type="text" surname="nick" placeholder="Nombre de Usuario">
                  <input type="email" surname="email" placeholder="CorreoElectrónico">
                  <input type="password" surname="password" placeholder="Contraseña">

                  <button  class=" btn waves-effect waves-light btn-signup">Regístrate</button>
                </div>
              </form>
            </div>
           
          </div>
          <div class="row">
            <div class="login-box">
              ¿Tienes Una cuenta?<a href="#">Ingresar</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

