
<div class="container landing">
  <div class="row">
    <div class="col s10 push-s1">
      <!--Caja para la imagen o logotipo-->
      <div class="row">
        <div class="col m5 hide-on-small-only  img-box">
          <img src="../../../assets/public/logo.png" class=" logo" alt="Image">
        </div>
        <!--Caja para el formulario de regístro-->

        <div class="col s12 m7">
          <div class="row">
            <div class="signup-box">
              <h1 class="title">{{title}}</h1>
              <form #signinForm="ngForm" (ngSubmit) = "onSubmit(signinForm)" class="signup-form">
                <h2 class="description">
                  {{text_description}}
                </h2>
                <div class="divider"></div>
                <!--Seccion para los campos del formulario-->
                <div class="section">
                  
                  
                  <input type="email" name="email" #email="ngModel"[(ngModel)] = 'user.email' 
                  placeholder="Correo Electrónico" class="form-control" required>

                      <span *ngIf="!email.valid && email.touched">
                          Este campo es requerido!!!
                      </span>
                  
                  <input type="password" name="password" #password = "ngModel"[(ngModel)] = 'user.password'
                  placeholder="Contraseña" class="form-control" required>
                      <span *ngIf="!password.valid && password.touched">
                        Este campo es requerido!!!
                      </span>
               
                   
                    <button mz-button class="btn-signup">{{sesion}} </button>
              
                </div>
              </form>
              <div class="restet">
                ¿Olvidaste Tú contraseña?<a href="#">Restablecer</a>
              </div>
            </div>
           
          </div>
          <div class="row">
            <div class="login-box">
              ¿ No Tienes Una cuenta?<a [routerLink]="['/signup']">Regístrate</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
