
<div class="container">
  <div class="row">
    <div class="col s10 push-s1">
      <!--Caja para la imagen o logotipo-->
      <div class="row">
        <div class="col m5 hide-on-small-only">
          En este espacio va la imagen o logo
        </div>
        <!--Caja para el formulario de regístro-->

        <div class="col s12 m7">
          <div class="row">
            <div class="signup-box">
              <h1 class="title">{{title}}</h1>
              <form class="signup-form">
                <h2 class="description">
                  {{text_description}}
                </h2>
                <div class="divider"></div>
                <!--Seccion para los campos del formulario-->
                <div class="section">
                  
                  
                  <input type="text" name="data" placeholder="Correo Electrónico o Nombre de Usuario">
                  <input type="password" surname="password" placeholder="Contraseña">

                  <button  class=" btn waves-effect waves-light btn-signup">{{sesion}}</button>
                </div>
              </form>
              <div class="restet">
                ¿Olvidaste Tú contraseña?<a href="#">Restablecer</a>
              </div>
            </div>
           
          </div>
          <div class="row">
            <div class="login-box">
              ¿ No Tienes Una cuenta?<a href="#">Regístrate</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
