/* Estilos para cada uno de los componentes de la aplicación*/

body{
  background: #fafafa;
}
/* Estilos Para el contenedor Principal*/
 .landing{
  margin: 30px auto !important;
}

/*Estilos Para el logotipo o imagen que se mostrará al lado de los formularios */

.logo{
  max-width: 100% !important;
  height: 598px !important;
  margin-top:5px;
}
.img-box{
  background-color: white;
  border:1px solid #edeeee !important;
  border-radius: 7px 0px 7px 0px;
  margin: 0px;
  padding: 0px;
}
/*Estilos Para el píe de página de nuesta aplicación*/

.site-footer{
  text-transform: uppercase;
  color: grey;
}

/*Estilos Para el título de la aplicación que se mostrará en los formularios*/

.title{
  color: #1d951b;
  font-family:'Oleo Script';
  font-size: 40px;
 
}

/*Estilos Para los formularios de regístro e ingreso a la aplicación*/

.signup-form{
  width: 70%;
  margin: 0 auto;
}


/*Estilos Para la descripción que se muestra en el formulario de regístro*/
.signup-form .description{
  color:#7F8C8D;
  font-size: 1.2em;
  text-align: justify;
  font-family: 'Montserrat';
}

/*Estilos Para las cajas donde está el formulario de regístro y el link a el formulario de ingreso*/

.login-box,
.signup-box{
background-color: white;
border: 1px solid #edeeee !important;
border-radius: 7px 0px 7px 0px;
color: #7F8C8D;
padding: 10px 0px;
text-align-last: center;
width: 100%;
}

.signup-form .btn-signup{
  background: #1d951b  !important;
  margin-top: 30px;
  width: 150px !important;
  font-family: 'Oleo Script';
 
}

.signup-form .btn-signup:hover{

 background: #17A589 !important;
 
}

.header{
  background-color: #1d951b !important;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 0px;
}

.link  a{
  font-family: 'Oleo Script';
  font-size: 1.2em;
}

 .logoLink {
   color: white;
  font-family:'Oleo Script';
  font-weight: bold;
  font-size: 40px;
}




.btn-box .boton{
  background: #1d951b;
 height: 54px;
 float: right;
 width: 65px;
 line-height: 150px;
 margin-right: -35px;
 padding-top: -7px;
 padding-right: -3px;
 

}

.boton-box .boton{
   background: #1d951b;
   font-family: 'Oleo Script';
   font-size: 12px;
  height: 54px;
  width: 100px;
  margin-right: -35px;
  padding-top: 10px;
  padding-left: 10px;
  padding-right: 10px;

  
}
